img{        /* image logo git */
	width: 250px;
	height: 150px;
	background-color: #FFD00C;
}
h1 {             /* title */
	text-align: center;               
	background-color:#FFD00C;
	color:#FC5050;
}

html {
  font: 16px "Verdana, sans-serif", Arial; /* texte de 16 pixels */
}

u {
	font-weight : bold;   
	background-color:#FFD00C;
	margin-left: 40px;
}
.text{
	padding:40px;
}
.git{                                /* different git */
	background-color:#EF4339;
}
.def{                               /* fonction git */
	background-color:#D1E9EA;
}
body{                               /* contenu texte */
	background-color:#415F77
;
}
p{
	text-align: center;
}
.pied {                          /* pied de page footer */

color:#EF4339;
background-color:#FFD00C;
text-align: center;


}